<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Admin Login</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

<div class="box">

<h1>Admin Login</h1>

<form action="/admin/login" method="post">

<label>Username</label>

<input
type="text"
name="username"
placeholder="Enter Username"
required>

<label>Password</label>

<input
type="password"
name="password"
placeholder="Enter Password"
required>

<button type="submit">

Login

</button>

</form>

<div class="bottom">

<a href="/">User Login</a>

</div>

</div>

</div>

</body>

</html>